---
import "../../css/generel.css";

import Vaerk from "./Vaerk.astro";
const { indhold } = Astro.props;

const data = await fetch("https://vmhyyycabwkqiceqvlmp.supabase.co/rest/v1/sow_data", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtaHl5eWNhYndrcWljZXF2bG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYzOTQ5MTMsImV4cCI6MjAzMTk3MDkxM30.VNbRC_IKM6y8R7OiRbnDU5rELxNMETR6WVXkjUjDz7c",
  },
}).then((response) => response.json());
---

<article>
  <div class="billederindhold">
    <h1 class="gallerih1">Vores Galleri</h1>
    <div class="gallerigrid">
      <div class="img">
        {
          data.map((kunde) => {
            return <Vaerk data={kunde} />;
          })
        }
      </div>
    </div>
  </div>
</article>

<!-- i ovenst책ende hegn skal du importere css og evt andre komponenter fx knapper -->
<!-- for at se komponentet s책 hent det ind p책 siden og 책ben over npm localhoast/sidens navn -->

<!-- img'er nedenfor er kun placeholder billeder -->

<!--  
<article>
  <div class="billederindhold">
    <div class="gallerih1">Vores Galleri</div>
    <div class="gallerigrid">
      <div class="img">
        <img src="/public/img/maleri_et.webp" alt="billede af maleri" />
      </div>
      <div class="img">
        <img src="/public/img/maleri_to.webp" alt="billede af maleri" />
      </div>
      <div class="img">
        <img src="/public/img/maleri_tre.webp" alt="billede af maleri" />
      </div>
      <div class="img">
        <img src="/public/img/maleri_fire.webp" alt="billede af maleri" />
      </div>
      <div class="img">
        <img src="/public/img/maleri_ti.webp" alt="billede af maleri" />
      </div>
      <div class="img">
        <img src="/public/img/maleri_seks.webp" alt="billede af maleri" />
      </div>
      <div class="img">
        <img src="/public/img/maleri_syv.webp" alt="billede af maleri" />
      </div>
      <div class="img">
        <img src="/public/img/maleri_otte.webp" alt="billede af maleri" />
      </div>
      <div class="img">
        <img src="/public/img/maleri_ni.webp" alt="billede af maleri" />
      </div>
    </div>
  </div>
</article>-->

<style>
  .billederindhold {
    margin-top: 100%;
    }
  
  .gallerih1 {
    color: var(--skrift);
    text-align: center;
    padding-bottom: 4%;
  }

  .img {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 900px) {
    .billederindhold {
      padding-top: 45%;
    }
    .img {
      display: grid;
      gap: 1rem;
      padding: 2rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
