---
import "../../css/generel.css"
---


<!-- i ovenst책ende hegn skal du importere css og evt andre komponenter fx knapper -->
<!-- for at se komponentet s책 hent det ind p책 siden og 책ben over npm localhoast/sidens navn -->

<!-- img'er nedenfor er kun placeholder billeder -->
<article>
  <div class="billederindhold">
    <div class="gallerih1">
      Vores Galleri
    </div>
    <div class="gallerigrid">
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
      <div class="img">
        <img src="/public/img/portaet.webp" alt="billede af maleri">
      </div>
  </div>
  </div>
  </article>


<style>
   .billederindhold{
      padding-top: 120%;
    }
    .gallerigrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
  }

  .gallerigrid img{
    width: 100%;
    height: 100%;
    padding: 2%;
  }
  .gallerih1{
    color: var(--skrift);
    text-align: center;
  }
  .gallerigrid{
    /* padding-bottom: 10%; */
    padding-left: 3%;
    padding-right: 3%;
  }

  @media (min-width: 900px){
    .gallerigrid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-left: 6%;
      padding-right: 6%;
    }
    .billederindhold{
      padding-top: 45%;
    }








  }
</style>