---
import "../../css/generel.css";
import Knap from "../Knap.astro";
---

<article>
  <div class="ctagrid">
    <div class="cta_txt_knap">
      <h4>Drømmer du om at få et kunstværk til dit hjem eller din arbejdsplads?</h4>
      <div class="center-button">
        <a href="/kontakt"><Knap>Kontakt os for et uforpligtende tilbud</Knap></a>
      </div>
    </div>
    <div class="ctaillustration">
      <img src="/svg/lysserod_illustration.svg" alt="lyserød illustration" />
    </div>
  </div>
</article>

<style>
  .cta_txt_knap h4 {
    color: var(--skrift);
    text-align: center;
    padding-top: 12%;
    padding-bottom: 3%;
    padding-left: 7%;
    padding-right: 7%;
    line-height: 150%;
  }

  .cta_txt_knap p {
    text-align: center;
    padding-bottom: 10%;
  }

  .ctaillustration img {
    width: 50%;
    height: 50%;
    transform: rotate(65deg);
  }

  .ctaillustration {
    padding-left: 37%;
    padding-bottom: 3%;
  }

  .center-button {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-bottom: 70px;
  }

  @media (min-width: 900px) {
    .ctagrid {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .ctaillustration {
      padding-left: 10%;
      width: 45%;
      height: 50%;
    }
    .cta_txt_knap {
      width: 50%;
    }
    article {
      padding-top: 4%;
      padding-left: 4%;
    }
  }
</style>
