---
import "../../css/generel.css"
---

<!-- i ovenstående hegn skal du importere css og evt andre komponenter fx knapper -->
<!-- for at se komponentet så hent det ind på siden og åben over npm localhoast/sidens navn -->

<article>
    <div class="samarbejde_grid">
        <h1>Samarbejde</h1>
        <div class="samarbejdeimg">
          <img src="/public/img/portaet.webp" alt="billede af sæbeflaske">
        </div>
        <h2>Klint</h2>
        <p>Når skønhedspleje og kunst mødes og forenes. 
            Skønhedsmærket Klint og det kreative duo bag Some Other Waves har sammen kombineret det bedste fra skønhed og kunst for at skabe produktserien 'Movable Ocean' – en serie skønhedsprodukter med et kunstnerisk udtryk. 
            Læs mere om samarbejdet mellem Klint og Some Other Waves og udforsk deres 'Movable Ocean' serie her.</p>
    </div>
    <div class="knap"></div>
</article>

<style>
 .samarbejdeimg{
  object-fit: cover;
  width: 50%;
  height: 50%;
  margin-left: 10px;
  margin-right: 10px;


}
    
</style>