---
import "../../css/generel.css";
---

<!-- i ovenstående hegn skal du importere css og evt andre komponenter fx knapper --><!-- for at se komponentet så hent det ind på siden og åben over npm localhoast/sidens navn -->
<article>
<div id="topimg">
   <h1>Værker & samarbejder</h1>
 </div>
</article>

<style>
#topimg{
  background-image: url("/img/topmaleri.webp");
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 578px;
}
#topimg h1{
  color: var(--hvid);
  text-align: center;
  z-index: 1;
padding-top: 250px;
}
@media(min-width:900px){
  .topimg h1{
  color: var(--hvid);
  }
}
</style>
