---
const { data } = Astro.props;
---

<!-- Dette komponent er til de enkelte billeder i galleriet, hvor den bare henter hvert billede og gør det klikbart til singleview -->
<a href={`kunde/${data.id}`}>
  <article>
    <img src={"/img/" + data.image} alt="billede af kundes værk" />
  </article>
</a>

<style>
  article {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
