---

const { topic, text, statusOpen, statusClosed } = Astro.props;
---

<div class="faq-row">
    <div class="text_col">
        <h4>{topic}</h4>
        {statusOpen && <img src="../public/svg/luk_ikon.svg" alt="kryds ikon" class="faq_icon" id="closed_icon">}
        {statusClosed && <img src="../public/svg/aaben_ikon.svg" alt="plus ikon" class="faq_icon" id="opened_icon">}
    </div>
    <p class="faq_text" id="faq_p_hidden">{text}</p>

</div>

<style>
     .text_col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0 0.5rem 0;

    }

    .faq_icon {
        height: 20px;
        width: 20px;
    }

    .faq_text {
         margin-top: 3rem;
        margin-bottom: 3rem;
        opacity: .7;
        display: none;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    @media (min-width: 768px) {

        .faq_icon {
        height: 25px;
        width: 25px;
    }

}
</style>

<script>
    import "/public/scripts/linjer.js";
  </script>