---
import MainLayout from "../layout/MainLayout.astro";
import Header from "../components/Header.astro";
import Process from "../components/index-components/Process.astro";
import Forms from "../components/kontaktcomponent/Forms.astro";
import Kontaktinfo from "../components/kontaktcomponent/Kontaktinfo.astro";
import Footer from "../components/Footer.astro";
import Accordion from "../components/kontaktcomponent/Accordion.astro";
---

<MainLayout>
  <Header />
  <Forms />
  <Kontaktinfo />
  <Process />
  <Accordion />
  <a href="#hero">
    <button onclick="topFunction()" id="scrollToTopBtn" title="Gå til toppen">
      <span class="arrow-up"></span>
    </button>
  </a>
  <Footer />
</MainLayout>

<style>
  p,
  h3 {
    color: var(--skrift);
  }
  .faq_wrapper {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  @media (max-width: 900px) {
    .faq_wrapper {
      margin: 3rem;
    }
  }
</style>

<script>
  import "/public/scripts/scrollknap.js";
</script>
