---
import MainLayout from "../layout/MainLayout.astro";
import Header from "../components/Header.astro";
import Topboks from "../components/omos-components/Topboks.astro";
import Evighedskunst from "../components/omos-components/Evighedskunst.astro";
import Motivverden from "../components/omos-components/Motivverden.astro";
import Omosbooking from "../components/omos-components/Omosbooking.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout>
  <Header />
  <Topboks />
  <Evighedskunst />
  <Motivverden />
  <Omosbooking />
  <button onclick="topFunction()" id="scrollToTopBtn" title="Gå til toppen">
    <span class="arrow-up"></span>
</button>
  <Footer />
</MainLayout>

<style>
  /* alt css uden for generel.css kodes her (eller i jeres komponenter selvfølgelig) */
</style>
<script>
  import "/public/scripts/scrollknap.js";
</script>
