---
import "../../css/generel.css";
---

<article>
  <h2>Anmeldelser</h2>

  <div class="boks1">
    <p>
      “Jeg kan slet ikke forstå, hvordan jeg har kunne leve uden det her
      loftsmaleri af Some Other Waves. De har malet i frihånd og brugte under én
      dag.”
    </p>
    <p>Sofie Linde</p>
  </div>

  <div class="boks2">
    <p>
      “Det har virkelig tilføjet en unik og kreativ dimension til vores butik
      ... Det var vigtigt for os at samarbejde med nogen, der kunne skabe noget
      både æstetisk og meningsfuldt.”
    </p>
    <p>Østerbro Optik</p>
  </div>

  <div class="boks3">
    <p>“Det var magisk at opleve Some Other Waves dekorere vores showroom”</p>
    <p>Bent Hansen Design</p>
  </div>

  <div class="boks4">
    <p>
      “Tilbage i alle religioner har der været udsmykning i loft - kirker,
      pyramider, kloster m.m. og Some Other Waves (SOW) har i vores øjne formået
      at bringe den form for kunst i spil igen.”
    </p>
    <p>Dyrelægegården Mariendal</p>
  </div>
</article>

<style>
  /*Mobil*/

  /*Desktop*/
  @media (min-width: 900px) {
  }
</style>
