---
import "../../css/generel.css";
import Knap from "../Knap.astro";
---

<article>
  <section class="boks_center">
    <h3>Anmeldelser</h3>
    <div class="boks_scroll">
      <div class="boks1">
        <p>
          “Jeg kan slet ikke forstå, hvordan jeg har kunne leve uden det her
          loftsmaleri af Some Other Waves. De har malet i frihånd og brugte
          under én dag.”
        </p>
        <p class="navn">Sofie Linde</p>
      </div>
      <div class="boks2">
        <p class="citat">
          “Det har virkelig tilføjet en unik og kreativ dimension til vores
          butik ... Det var vigtigt for os at samarbejde med nogen, der kunne
          skabe noget både æstetisk og meningsfuldt.”
        </p>
        <p class="navn">Østerbro Optik</p>
      </div>
      <div class="boks3">
        <p>
          “Det var magisk at opleve Some Other Waves dekorere vores showroom”
        </p>
        <p class="navn">Bent Hansen Design</p>
      </div>

      <div class="boks4">
        <p>
          “Tilbage i alle religioner har der været udsmykning i loft - kirker,
          pyramider, kloster m.m. og Some Other Waves (SOW) har i vores øjne
          formået at bringe den form for kunst i spil igen.”
        </p>
        <p class="navn">Dyrelægegården Mariendal</p>
      </div>
      <div class="boks5">
        <p>
          “Vi fandt Some Other Waves på Instagram, og tænkte det vil være pænt
          som en del af udsmykningen i butikken for ligesom at høj evne de
          produkter vi har.”
        </p>
        <p class="navn">By Adelborg</p>
      </div>
    </div>
    <div class="pile">
      <img src="/svg/pile.svg" alt="billede af pile" />
    </div>
  </section>
</article>
<style>
  /*Mobil*/
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;
  }

  .boks_scroll {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .navn {
    padding-top: 70px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  .boks3 .navn {
    padding-top: 5px;
  }

  .pile {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 40px;
  }
  p {
    color: var(--blaa);
    padding-top: 20px;
    width: 300px;
    height: 100px;
  }

  h3 {
    text-align: center;
    color: var(--blaa);
    padding-top: 50px;
    padding-bottom: -50px;
  }

  .boks1,
  .boks2,
  .boks3,
  .boks4,
  .boks5 {
    text-align: center;
    background-color: var(--lysblaa);
    border: 1px solid var(--lysblaa);
    border-radius: 20px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 80px;
  }

  .citat {
    line-height: 25px;
  }
  @media (min-width: 900px) {
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3.2rem;
    }

    .boks_scroll {
      display: flex;
      align-items: center;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    .navn {
      padding-top: 70px;
      padding-bottom: 20px;
      font-weight: bold;
      font-style: normal;
    }

    p {
      color: var(--blaa);
      padding-top: 20px;
      width: 350px;
      height: 100px;
      font-style: italic;
    }

    h3 {
      text-align: center;
      color: var(--blaa);
      padding-top: 50px;
      padding-bottom: -50px;
    }

    .boks1,
    .boks2,
    .boks3,
    .boks4,
    .boks5 {
      border-radius: 20px;
      padding: 10px;
      padding-left: 50px;
      padding-right: 50px;
      margin: 80px;
      margin-right: 20px;
      margin-top: 70px;
      line-height: normal;
    }

    .boks3 .navn {
      padding-top: 0px;
    }

    .boks3 p {
      padding-bottom: 0;
    }

    .pile {
      display: flex;
      justify-content: center;
     margin-right: 3rem;
      padding-bottom: 40px;
    }
  }
</style>

<!-- <div class="boks1">
    <p>
      “Jeg kan slet ikke forstå, hvordan jeg har kunne leve uden det her <br />
       loftsmaleri af Some Other Waves. De har malet i frihånd <br /> og brugte
      under én dag.”
    </p>
    <p class="navn">Sofie Linde</p>
  </div>

  <div class="boks2">
    <p>
      “Det har virkelig tilføjet en unik og kreativ dimension til vores butik
      ... Det var vigtigt for os at samarbejde med nogen, der kunne skabe noget
      både æstetisk og meningsfuldt.”
    </p>
    <p class="navn">Østerbro Optik</p>
  </div>

  <div class="boks3">
    <p>
      “Det var magisk at opleve Some Other Waves <br /> dekorere vores showroom”
    </p>
    <p class="navn">Bent Hansen Design</p>
  </div>

  <div class="boks4">
    <p>
      “Tilbage i alle religioner har der været udsmykning i loft - kirker,
      pyramider, kloster m.m. og Some Other Waves (SOW) har i vores øjne formået
      at bringe den form for kunst i spil igen.”
    </p>
    <p class="navn">Dyrelægegården Mariendal</p>
  </div>
</article> -->

<!-- <style>
    /*Mobil*/

   
   
    } -->
