---
import "../../css/generel.css";
---

<article>
  <h2>Anmeldelser</h2>

  <div class="boks1">
    <p>
      “Jeg kan slet ikke forstå, hvordan jeg har kunne leve uden det her <br />
       loftsmaleri af Some Other Waves. De har malet i frihånd <br /> og brugte
      under én dag.”
    </p>
    <p class="navn">Sofie Linde</p>
  </div>

  <div class="boks2">
    <p>
      “Det har virkelig tilføjet en unik og kreativ dimension til vores butik
      ... Det var vigtigt for os at samarbejde med nogen, der kunne skabe noget
      både æstetisk og meningsfuldt.”
    </p>
    <p class="navn">Østerbro Optik</p>
  </div>

  <div class="boks3">
    <p>
      “Det var magisk at opleve Some Other Waves <br /> dekorere vores showroom”
    </p>
    <p class="navn">Bent Hansen Design</p>
  </div>

  <div class="boks4">
    <p>
      “Tilbage i alle religioner har der været udsmykning i loft - kirker,
      pyramider, kloster m.m. og Some Other Waves (SOW) har i vores øjne formået
      at bringe den form for kunst i spil igen.”
    </p>
    <p class="navn">Dyrelægegården Mariendal</p>
  </div>
</article>

<style>
  /*Mobil*/

  h2 {
    text-align: center;
    color: var(--blaa);
    padding-top: 50px;
    padding-bottom: -50px;
  }
  .boks1 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 180px;
    margin-top: 70px;
  }

  .boks2 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 180px;
  }

  .boks3 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 180px;
  }
  .boks4 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 180px;
  }

  .navn {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p {
    color: var(--blaa);
    padding-top: 20px;
  }
  /*Desktop*/
  @media (min-width: 900px) {
  }
</style>
