---
import "../../css/generel.css";
import Knap from "../Knap.astro";
---

<article>
  <div class="grid">
    <div class="img1">
      <img
        src="/svg/blaakonkylie_illustration.svg"
        alt="billede af konkylie"
        width="300"
      />
    </div>

    <div class="tekst">
      <h2>Kontakt os</h2>
      <p>
        Kunne du tænke dig at få et kunstværk hos dig eller din virksomhed? <br
        />
         Kontakt os i dag og få et uforpligtene tilbud.
      </p>
      <div class="center-button">
        <a href="omos.astro"><Knap>Få et uforpligtende tilbud her</Knap></a>
      </div>
    </div>

    <div class="img2">
      <img src="/svg/muslinger2.svg" alt="billede af konkylie" width="300" />
    </div>
  </div>
</article>

<style>
  /*Mobil*/

  h2 {
    text-align: center;
    color: var(--skrift);
    padding-bottom: 40px;
  }

  p {
    text-align: center;
    color: var(--skrift);
  }
  .img1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: center;
  }

  .img2 {
    display: flex;
    justify-content: center;

    padding-bottom: 50px;
    padding-left: center;
  }

  .center-button {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-bottom: 70px;
  }

  /*Desktop*/
  @media (min-width: 900px) {
    .grid {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 10px;
    }

    .tekst {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .img1 {
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 100px;
    }

    .img2 {
      display: flex;
      justify-content: center;
      padding-top: 150px;
      padding-bottom: 50px;
      padding-left: 100px;
    }

    .center-button {
      display: flex;
      text-indent: 10px;
      padding: 30px;
      padding-bottom: 60px;
      padding-top: 25px;
      padding-left: 10px;
    }
  }
</style>
