---
import "../../css/generel.css";
import Knap from "../Knap.astro";
---

<article id="afsnit">
  <div class="grid">
    <div class="tekst">
      <h3>Hvem er Some Other Waves</h3>

      <p>
        Vi hedder Carla og Bjørk, vi er tvillinger, og så er vi 21 år. Vi har
        har altid malet, tegnet og skabt ting sammen igennem hele vores opvækst,
        så det har altid været meget naturligt for os at lave noget sammen.<br
        />
        <br />I vinteren 2022 malede vi det første loftmaleri og er ikke stoppet
        siden.
      </p>

      <div class="center-button">
        <a href="/omos"><Knap>Læs mere om os</Knap></a>
      </div>
    </div>

    <div class="billede">
      <img src="/img/protraet.webp" alt="billede af kunstnerne" width="550" />
    </div>
  </div>
</article>

<style>
  /*Mobil*/

  .tekst h3 {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: var(--skrift);
  }

  .tekst p {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    color: var(--skrift);
  }
  .billede {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .center-button {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-bottom: 70px;
  }

  /*Desktop*/
  @media (min-width: 900px) {
    .grid {
      display: flex;
      flex-direction: row;
    }

    .billede {
      order: 1;
      width: 50%;
    }

    .tekst {
      order: 2;
      width: 50%;
    }

    .tekst h3 {
      padding-right: -10px;
      padding-top: 150px;
      padding-bottom: 50px;
      text-align: left;
      text-indent: 13%;
      color: var(--skrift);
    }

    .center-button {
      display: block;
      text-indent: 10%;
      padding: 30px;
      padding-bottom: 70px;
      padding-top: 40px;
    }
  }
</style>
