---
import "../../css/generel.css";
---

<article>
  <h1>Hvem er Some Other Waves</h1>
  <p>
    Vi hedder Carla og Bjørk, vi er tvillinger, og så er vi 21 år. Vi har har
    altid malet, tegnet <br />
     og skabt ting sammen igennem hele vores opvækst, så det har altid været
    meget <br /> naturligt for os at lave noget sammen.
    <br />
     I vinteren 2022 malede vi det første loftmaleri og er ikke stoppet siden.
  </p>
</article>

<style>
  /*Mobil*/

  /*Desktop*/
  @media (min-width: 900px) {
  }
</style>
