---
import "../../css/generel.css";
---

<article>
  <h1 id="overskrift">SOME OTHER WAVES</h1>
  <h2 id="intro">
    Unik evighedskunst på vægge og lofter der liver dit rum op. <br /> Håndmalet
    af tvillingesøstrene Carla og Bjørk Nørremark.
  </h2>
</article>

<style>
  /*Mobil*/

  /*Fonte*/
  #overskrift {
    font-size: 80px;
    text-align: center;
    padding-top: 300px;
  }

  #intro {
    font-size: 15px;
    text-align: center;
  }

  /*Desktop*/
  @media (min-width: 900px) {
  }
</style>
