---
import "./../css/generel.css";
---

<article>
  <button><slot /></button>
</article>

<style>
  button {
    background-color: var(--blaa);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "eb";
    border: 0;
    border-radius: 25px;
    color: var(--hvid);
    font-size: 15px;
  }

  button:hover {
    background-color: #b9cdff;
    cursor: pointer;
  }

  @media (min-width: 900px) {
    button {
      font-size: 16px;
    }
  }
</style>
