---
import "../../css/generel.css";
---

<article>
  <div class="grid">
    <div class="illu">
      <img src="/public/svg/roed_illustration.svg" alt="Illustration af rød menneskekrop med muslinger" />
    </div>

    <div class="evighedskunst">
      <h1>Evighedskunst</h1>
      <p>
        Det er et begreb, vi bare sådan lidt greb ud af det blå.  Jeg tror det var efter vi havde malet vores første værk, og vi skulle til at rebrande vores Instagram. <br />
        <br />
        Det er en definition på de her væg- og loftsmalerier, som er en ting der males direkte på private folks vægge og lofter. På den måde, hvis de gerne vil have det for evigt, så kan de i princippet vare for evigt, hvis man passer godt på det selvfølgelig. <br />
        <br />
        Det var også en stor kontrast til, at vi før havde malet de her muleposer og fandt ud af, at selvom det var god forretning, så ville folk komme tilbage efter en halv måned fordi det helt hvide net var blevet helt beskidt. Det var bare ikke bæredygtigt på lang sigt. <br />
        Der er det her trods alt noget man kan have i meget lang tid. <br />
        <br />
        Det er bare et begreb, der skal dække hele den proces med at male noget direkte på væggen, som ikke kan flyttes eller tages ned medmindre man maler det over.
      </p>
    </div>
  </div>
</article>

<style>
  .illu img {
    width: 400px;
    padding: 30px;
  }

  .illu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }

  .evighedskunst h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .evighedskunst {
    padding: 40px;
  }

  h1 {
    color: var(--skrift);
  }

  p {
    color: var(--skrift);
  }

  @media (min-width: 900px) {
    .grid {
      display: flex;
      flex-direction: row;
    }

    .illu img {
      width: 400px;
      padding: 30px;
    }

    .illu {
      width: 50%;
    }

    .evighedskunst {
      width: 50%;
      padding-right: 100px;
    }
  }
</style>
