/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* img {
  height: auto;
  display: block;
}

html {
  margin: 20px;
}

/* Farver */

/* skriv: "Color: var(--blaa);" for eksempel i jeres css. */
html {
  --skrift: #00054e;
  --blaa: #0009aa;
  --beige: #945553;
  --brun: #f54765;
  --hvid: #ffffff;
  --sort: #000000;
}

/* Font styles og størrelser */

/* font til overskrifter */
@font-face {
  font-family: "yeldevi";
  src: url(/src/fonts/Yaldevi/);

  font-weight: normal;
}

/* font til brødtekst */
@font-face {
  font-family: "eb";
  src: url(/src/fonts/EB_Garamond/);

  font-weight: normal;
}

/* til mobil */

h1 {
  font-size: 32px;
  font-family: "yeldevi";
}

h2 {
  font-size: 24px;
  font-family: "yeldevi";
}

h3 {
  font-size: 18px;
  font-family: "yeldevi";
}

p {
  font-size: 18;
  font-family: "eb";
}

/* til desktop */

@media (min-width: 900px) {
  h1 {
    font-size: 48px;
    font-family: "yeldevi";
  }

  h2 {
    font-size: 40px;
    font-family: "yeldevi";
  }

  h3 {
    font-size: 32px;
    font-family: "yeldevi";
  }

  p {
    font-size: 24;
    font-family: "eb";
  }
}
