---
import "../../css/generel.css"
---

<!-- i ovenstående hegn skal du importere css og evt andre komponenter fx knapper -->
<!-- for at se komponentet så hent det ind på siden og åben over npm localhoast/sidens navn -->

<article>
    <div class="grid1">
      <img src="/public/img/portaet.webp" alt="billede af kunstværk">
      <div class="grid1txt">
        <h1>Østerbro Optik</h1> <br> 
        <p>
          Dette loftsmaleri er skabt til Østerbro Optik og præsenterer vores signatur motiver. <br>Farveskemaet omfatter hovedsageligt neutrale toner, suppleret med elementer af rød, blå og lyserød, der tilsammen fremhæver vores kunstneriske identitet.
          <br> <br>Loftsmaleriet kan ses i Østerbro Optik på adressen <br>Østerbrogade 102, 2100 København.
          </p>
      </div>
    </div>
  </article>


  
  <style>
    .grid1{
  color: var(--skrift);
  padding-left: 5%;
}

.grid1 img{
padding-right: 5%;
padding-bottom: 9%;
padding-top: 8%; 
object-fit: cover;
width: 487px;
height: 487px;
}

.grid1 p{
 line-height: 30px;
}

.grid1 h1{
  padding-bottom: 5%;
}

@media (min-width:900px) {
  .grid1{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    gap: 3%;
  }

  .grid1 h1{
    padding-top: 25%;
    padding-left: 10%;
  }
  .grid1 p{
    padding-left: 10%;
    line-height: 30px;
  }
  .grid1 img{
  object-fit: cover;
  width: 800px;
  height: 800px;
  }

  .grid1txt{
    margin-top: 40px;
    padding-right: 5%;
  }
}
  </style>
