---
import "../../css/generel.css";
import Knap from "../Knap.astro";
---

<!-- i ovenst책ende hegn skal du importere css og evt andre komponenter fx knapper --><!-- for at se komponentet s책 hent det ind p책 siden og 책ben over npm localhoast/sidens navn -->
<article>
  <div class="grid">
    <div class="tekst">
      <h3>Mangler dit hjem eller din arbejdsplads et kunstnerisk udtryk?</h3>
      <div class="center-button">
        <a href="/kontakt"><Knap>Kontakt os</Knap></a>
      </div>
    </div>
    <div class="billede"><img class="mint_musling" src="/public/svg/mint_illustration.svg" alt="billede af musling" /></div>
  </div>
</article>

<style>
  h3 {
    color: var(--skrift);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .billede img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  img.mint_musling {
    width: 280px;
    margin-left: 145px;
    padding-top: 4%;
    padding-bottom: 6%;
  }

  .center-button {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-bottom: 70px;
  }
  @media (min-width: 900px) {
    .grid {
      display: flex;
      flex-direction: row;
    }

    .billede {
      width: 50%;
      align-items: center;
      padding-top: 40px;
    }

    .tekst {
      width: 50%;
    }

    .tekst h3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
</style>
