---
import "../css/generel.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../css/generel.css" />
    <title>Some Other Waves</title>
<link rel="apple-touch-icon" sizes="180x180" href="public/favicon_sow/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="public/favicon_sow/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="public/favicon_sow/favicon-16x16.png">
<link rel="manifest" href="public/favicon_sow/site.webmanifest">
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
