---
import "../css/generel.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../css/generel.css" />
    <title>Some Other Waves</title>
    <meta
      name="description"
      content="Oplev kunsten fra Some Other Waves, en innovativ virksomhed drevet af tvillingesøstrene Bjørk og Carla Nørremark. De specialiserer sig i lofts- og vægmalerier med havinspirerede designs til både private og virksomheder"
    />
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
